.users-list{
    width: 100%;
    height: 100%;
    padding: 20px;



    &__item{
        cursor: pointer;
    }
    
    
}
.users-list:active{
    color: lime;
}
app-user-list:active{
    background-color: black;
}
